<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>

    <div class="container-fluid">
        <header>Book Finder</header>
        <div class="container">
            <div class="row justify-content-start align-items-start">
                <div class="search-container">
                    <input
                        class="search-input"
                        type="search"
                        id="keyword"
                        placeholder="Search to know more about your favourite books"
                        autocomplete="off"
                    />
                </div>

                <div class="col-12 ">
                    <div id="book-list" class="row justify-content-around"></div>
                        <!--
                            <div class="col-lg-3 col-md-6 col-sm-12 book-display">
                                <div class="image">
                                <img src="book.volumeInfo.imageLinks && book.volumeInfo.imageLinks.thumbnail" alt="book.volumeInfo.title" />
                                </div>
                                <div>
                                <span> Authors: book.volumeInfo.authors</span>
                                </div>
                                <div class="details">
                                <span>Title: book.volumeInfo.title
                                </span>
                                <a target="_blank" class="previewLink" href="${book.volumeInfo.previewLink}">Preview</a>
                                </div>
                            </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
